<div *ngIf="!quest">Loading...</div>

<div class="quest" *ngIf="quest" [ngSwitch]="quest.type">
    <div class="header">{{ quest.title }}</div>
    <div class="content">
        <div class="npc-image">
            <img src="../../../assets/npc/Heidi.gif">
        </div>

        <div class="map-image">
            <img src="../../../assets/maps/Coral_Town_-_Blooming_Cora.png">
            <img src="../../../assets/marker.gif" class="marker" style="left: 40px; top: 90px">
        </div>

        <ng-container *ngSwitchCase="QuestType.Episode">
            <div class="data">
                <div class="row">
                    <div>
                        <strong>Condition: </strong>
                        {{ quest.condition }}
                    </div>
                    <div class="location">
                        <strong>Location: </strong>
                        {{ quest.location }}
                    </div>
                </div>
                <div class="row">
                    <div class="experience">
                        <div class="header">Experience</div>
                        <div class="content">
                            <div class="section">
                                <div class="value">{{ quest.experience.base }}</div>
                                <div class="legend">Base</div>
                            </div>
                            <div class="section">
                                <div class="value">{{ quest.experience.tm }}</div>
                                <div class="legend">TM</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="request">
                        <strong>Request: </strong>
                        {{ quest.request }}
                    </div>
                </div>
                <div class="row">
                    <div>
                        <strong>Reward: </strong>
                        {{ quest.rewards.join(', ') }}
                    </div>
                </div>
                <div class="row">
                    <div class="notes">
                        <strong>Notes: </strong>
                        {{ quest.notes }}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
